.large-button {
  padding: 6px 32px;
}
.pill-button {
  border-radius: 9999px;
}

.providers-list {
  background-color: @theme_base_bg;
}

.provider-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.provider-row:hover {
  background-color: @theme_base_bg;
}

.provider-row:active {
  background: @theme_base_bg;
  box-shadow: none;
}
.provider-row .title-2 {
  margin-bottom: 8px;
  margin-left: 2px;
}
.provider-image {
  margin-bottom: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.totp-progress,
.totp-progress trough progress,
.totp-progress trough {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* Only for TOTP accounts */
row.totp .content row.account-row:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.account-row {
  padding: 12px;
}
.account-otp {
  margin-right: 8px;
  font-weight: 500;
  font-feature-settings: "tnum" 1;
}

listview.content.small > row {
  margin: 0px;
  border-radius: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

listview.content.small > row:first-child {
  border-top-width: 0px;
}

listview.content.small > row:last-child {
  border-bottom-width: 0px;
}

listview > row:first-child {
  margin-top: 12px;
}

listview > row:last-child {
  margin-bottom: 12px;
}

listview > row {
  margin-left: 12px;
  margin-right: 12px;
}
